*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: black !important;
}

.nav li a {
    color: azure !important;
}

.logo i {
    font-size: 35px;
    color: azure !important;
}


main {
    background-color: gainsboro;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.tituloPrincipal {
    padding: 2rem;
}

.contenedorProductos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding-inline: 70px;
    justify-content: center;
}

.productos {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
}

.imagenProducto {
    max-width: 80%;
    border-radius: 1rem;
}

.detallesProducto {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.nombreProducto {
    font-size: 1.5rem;
}

.precioProducto {
    font-size: 1.25rem;
}

.agregarProducto {
    border: 0;
    background-color: black;
    color: azure ;
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid azure;
    transition: background-color .2s, color .2s;
}

.agregarProducto:hover {
    background-color: azure;
    color: black;
}


footer {
    background-color: black !important;
    color: azure !important;
}


/* carrito */

.contenedorCarrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carritoVacio, .carritoComprado {
    color: black;
    font-size: 1.50rem;
    display: flex;
    justify-content: center;
}

.carritoProductos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carritoProducto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.399);
    color: black;
    padding: .5rem;
    padding-right: 3rem;
    margin: 0 2rem 0 2rem ;
    border-radius: 1rem;
}

.carritoProductoImagen {
    width: 4rem;
    border-radius: 1rem;
}

.carritoProducto small {
    font-size: 1.25rem;
}

.carritoProductoEliminar {
    border: 0;
    background-color: transparent;
    color: rgb(176, 0, 0);
    cursor: pointer;
    font-size: 1.75rem;
}

.carritoAcciones {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem 0 2rem ;
}

.carritoAccionesVaciar {
    border: 0;
    background-color: rgb(176, 0, 0);
    padding: 1rem;
    border-radius: 1rem;
    color: azure;
    text-transform: uppercase;
    cursor: pointer;
}


.carritoAccionesDerecha{
    display: flex;
}

.carritoAccionesTotal {
    display: flex;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.399);
    padding: 1rem;
    color: black;
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: .75rem;

}

.carritoAccionesComprar {
    border: 0;
    background-color: black;
    padding: 1rem;
    color: azure;
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.carritoAccionesTotal p{
    margin: 0px;
}

.disabled {
    display: none;
}